% This is the configuration file of rebar3, so that Myriad can better integrate
% in the current OTP ecosystem, despite its (more complex) build based on GNU make.

% Base layout was obtained thanks to: 'rebar3 new lib myriad', as Myriad is a
% library OTP application (without supervision trees).

% To be run as: 'rebar3 compile' from the library root.


% No dependency (expect Erlang of course):
{deps, []}.

% We need to rely on our dedicated build procedure (ex: for the parse transforms
% involved):
%
{pre_hooks, [ {compile, "make rebar3-compile"} ]}.

%{post_hooks, [
%	{compile, "echo 'Myriad post compile hook!'"} ]}.


{relx, [{release, {myriad, {cmd, "cat GNUmakevars.inc |grep 'MYRIAD_VERSION := '|sed 's|^MYRIAD_VERSION := ||1'"}},
		 [my_test_release,
		  sasl]},

		{sys_config, "./config/sys.config"},
		{vm_args, "./config/vm.args"},

		{dev_mode, true},
		{include_erts, false},

		{extended_start_script, true},
		{include_src, false}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
							{include_erts, true}]}]
			}]
