# Configuration for Myriad of Erlang_LS, the LSP adaptation for Erlang; for
# example useful for Emacs.
#
# See https://erlang-ls.github.io/configuration/

# Translate $HOME:
#otp_path: "$HOME/Software/Erlang/Erlang-current-install/lib/erlang"

deps_dirs:
  # Necessary for Erlang/OTP:
  - "lib/*"
  # So that any Myriad sibling layers (e.g. 'wooper') are found:
  # (note: these tools operate on sources, not BEAM files)
  - "../*"
diagnostics:
  enabled:
    - compiler
    - crossref
  disabled:
    - dialyzer
    - elvis
include_dirs:
  - "include"

#  - "_build/default/lib"
lenses:
  enabled:
    - ct-run-test
    - server-info
  disabled:
    - show-behaviour-usages
    - function-references

# Shall be synchronised with the defines:
#macros:
#  - name: DEFINED_WITH_VALUE
#    value: 42
#  - name: DEFINED_WITHOUT_VALUE
#code_reload:
#  node: node@example
